@model ArticlesApp.Models.Category

@if (ViewBag.Message != null)
{
    <h2 class="alert-danger p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

<h2>Adaugare Categorie</h2>

<h2 class="text-center mt-5">Adaugare categorie</h2>
<br />
@using (Html.BeginForm(actionName: "New", controllerName: "Categories"))
{
    <div class="row">
        <div class="col-6 offset-3">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            @Html.Label("CategoryName", "Nume Categorie")
            <br />

            @Html.TextBox("CategoryName", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CategoryName, null, new { @class = "text-danger" })
            <br /><br />

            <button class="btn btn-success" type="submit">Adauga categoria</button>

        </div>

    </div>
}
